<!--
ユーザー一覧ページ
-->

<!--プロフィール-->
<h1>User info</h1>
  <table>
    <tr>
      <td><%= attachment_image_tag @user,:profile_image,:fill,100,100,format:"jpeg",fallback:"no_image.jpg" %></td>
      <td></td>
    </tr>
    <tr>
      <td>name</td>
      <td>introduction</td>
    </tr>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.introduction %></td>
    </tr>
  </table>
  <% if @user == current_user %>
    <%= link_to "Edit User",edit_user_path(@user.id) %>
  <% end %>

<!--投稿フォーム-->
<h1>New book</h1>
<%= form_with model: @book,local:true do |f| %>
 <h4>Title</h4>
 <%= f.text_field :title %>
 <h4>Option</h4>
 <%= f.text_area :body %>
 <%= f.submit "Create Book" %>
<% end %>


<!--投稿一覧-->
  <div>
    <!--見出し-->
    <h1>Users</h1>
    <table>
      <!--テーブルのヘッダー-->
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
      </thead>
      <!--実データ-->
      <% @users.each do |user| %>
        <tbody>
          <tr>
            <td>
              <!--ユーザー画像-->
              <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
            </td>

            <td>
              <!--ユーザー名-->
                <%= user.name %>
            </td>

            <td>
               <%= link_to "Show",user_path(@user.id) %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
