<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ログイン済みならtrue、ログインしていなければfalse-->
    <% if user_signed_in? %>
    <!--ログイン中-->
      <li>
        <!--要変更-->
        <%= link_to "Home",root_path %>
      </li>
      <li>
        <!--要変更-->
        <%= link_to "Users",root_path %>
      </li>
       <li>
        <!--要変更-->
        <%= link_to "Books",root_path %>
      </li>
      <li>
        <%= link_to "logout",destroy_user_session_path,method: :delete %>
      </li>
    <% else %>
    <!--ログインしていない-->
      <li>
        <!--要変更-->
        <%= link_to "Home",root_path %>
      </li>
      <li>
        <!--要変更-->
        <%= link_to "Users",root_path %>
      </li>
      <li>
        <%= link_to "sign up",new_user_registration_path %>
      </li>
      <li>
        <%= link_to "login",new_user_session_path %>
      </li>
    <% end %>

    <%= yield %>
  </body>
</html>
